@font-face {
  font-family: "font";
  src: url(./Comfortaa-VariableFont_wght.ttf);
  font-display: swap;
}

@-webkit-keyframes bg {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bg {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes bg {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

html {
  /* background: #121216; */
  background: linear-gradient(315deg, #222234, #0a0a10, #1a1b2e);
  background-size: 600% 600%;

  -webkit-animation: bg 10s ease infinite;
  -moz-animation: bg 10s ease infinite;
  animation: bg 10s ease infinite;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* body {
  max-width: 80ch;
  padding: 3% 1%;
  margin: auto;
  line-height: 1.25;
} */
img {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 13vw;
}
div.banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3, p {
  font-family: 'font', sans-serif;
  text-align: center;
  color: #fdfff5;
  font-size: 1.25vw;
  line-height: 1.25;
}
h3 {
  margin-bottom: 10%;
}
a:link, a:visited {
  color: #ffc227;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f2ff8a;
  background-color: transparent;
  text-decoration: none;
}

@media (orientation: portrait) {
  h3, p {
    font-size: 1.8vh;
    text-align: left;
  }
  img {
    width: 13vh;
  }
  div.banner {
    left: 2%;
    top: 30%;
    transform: none;
  }
}